<app-shrink [isOpen]="true">
  <app-quick-date-picker [startTime]="startTime" [endTime]="endTime"></app-quick-date-picker>
  <div class="cui-row">
    <div class="cui-field cui-col-xs32-6 cui-col-xs64-4 cui-col-md-3" appDatePicker>
      <input type="text" [(ngModel)]="searchForm.startTime" #startTime>
      <label>開始時間</label>
    </div>
    <div class="cui-field cui-col-xs32-6 cui-col-xs64-4 cui-col-md-3" appDatePicker>
      <input type="text" [(ngModel)]="searchForm.endTime" #endTime>
      <label>結束時間</label>
    </div>
    <div class="cui-field cui-col-xs32-6 cui-col-xs64-4 cui-col-md-3">
      <select [(ngModel)]="searchForm.className" required (change)="search()">
        <option [value]="''">請選擇</option>
        <option *ngFor="let job of jobKinds" [value]="job.className">{{job.jobName}}</option>
      </select>
      <label>排程類型</label>
    </div>
    <div class="cui-field cui-col-xs32-6 cui-col-xs64-4 cui-col-md-3">
      <select [(ngModel)]="searchForm.status" required (change)="search()">
        <option [value]="''">請選擇</option>
        <option *ngFor="let status of statuss" [value]="status.value">{{status.name}}</option>
      </select>
      <label>狀態</label>
    </div>
    <div class="cui-field cui-col-xs32-6 cui-col-xs64-4 cui-col-md-3">
      <input type="text" [(ngModel)]="searchForm.jobName">
      <label>排程名稱</label>
    </div>
  </div>
  <div class="cui-button-row center">
    <button class="cui-button {{ApiClassName.GetAccessLogPage}}" (click)="search()">查詢</button>
    <button class="cui-button {{ApiClassName.DeleteAccessLog}}" (click)="remove()">刪除</button>
  </div>
</app-shrink>
<div class="view-content" [appInitElement]="grid.getElement()"></div>
