<div class="login">
  <div #loginWindow class="login-window">
    <div class="header">Schedule Manage</div>
    <div class="panel">
      <div class="errorMessage">
        {{errorMessage}}
      </div>

      <div class="cui-field">
        <select [(ngModel)]="lang" (change)="langChange()">
          <option value="en">英文</option>
          <option value="zh_TW">中文(繁體)</option>
          <option value="zh_CN">中文(簡體)</option>
        </select>
        <label>語言</label>
      </div>
      <div class="cui-field">
        <input type="text" [(ngModel)]="form.account" required>
        <label>帳號</label>
      </div>
      <div class="cui-field">
        <input type="password" [(ngModel)]="form.password" required>
        <label>密碼</label>
      </div>
      <div class="cui-button-row right">
        <button class="cui-button bg-primary" (click)="login()"
          [attr.translateKey]="TranslateSourceAll.SignIn.key"></button>
      </div>
    </div>
  </div>
</div>
